<footer class="footer py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <h5>À propos</h5>
                <p>Notre plateforme vous offre un accès à des articles informatifs et éducatifs dans divers domaines.</p>
                <p>Restez informé sur les dernières actualités et partagez facilement vos connaissances avec notre communauté.</p>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                <h5>Navigation</h5>
                <ul>
                    <li><a href="{{ path('app_home') }}">Accueil</a></li>
                    <li><a href="{{ path('app_article_index') }}">Articles</a></li>
                    <li><a href="{{ path('app_category_index') }}">Catégories</a></li>
                    {% if not app.user %}
                        <li><a href="{{ path('app_login') }}">Connexion</a></li>
                        <li><a href="{{ path('app_register') }}">Inscription</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                <h5>Légal</h5>
                <ul>
                    <li><a href="#">Mentions légales</a></li>
                    <li><a href="#">Conditions d'utilisation</a></li>
                    <li><a href="#">Politique de confidentialité</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6">
                <h5>Restons connectés</h5>
                <p>Suivez-nous sur les réseaux sociaux pour ne rien manquer de nos actualités.</p>
                <div class="d-flex">
                    <a href="#" class="me-3"><i class="fab fa-facebook-f fa-lg"></i></a>
                    <a href="#" class="me-3"><i class="fab fa-twitter fa-lg"></i></a>
                    <a href="#" class="me-3"><i class="fab fa-instagram fa-lg"></i></a>
                    <a href="#" class="me-3"><i class="fab fa-linkedin-in fa-lg"></i></a>
                </div>
            </div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col-md-6">
                <p>© {{ "now"|date("Y") }} CoolModding. Tous droits réservés.</p>
            </div>
            <div class="col-md-6 text-md-end">
                <a href="#">Haut de page</a>
            </div>
        </div>
    </div>
</footer>
